*{
    margin: 0;
    padding: 0;
    list-style: npne;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
   

}
.header-wrapper{
   background-color: aliceblue;
   margin-bottom: 2px;
    
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 20px;
    font-weight: 700;
}
.menu{
   display: flex;
   justify-content: center;
   padding: 20px 0;
  
}

.menu ul{
    display: flex;
    gap: 20px;
}

.menu ul li {
    list-style:  none;
    position: relative;
}
.menu ul li a {
    text-decoration:  none;
    padding: 15px 10px;
    color: #000;
    font-size: 18px;
    
}

.menu ul li ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: aliceblue;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    translate: 0 20px;
    z-index: 10;
}

.menu ul li ul li a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #000;
    
}

.menu ul li ul li:nth-child(4) a{
   border-bottom: none;
}
/* show menu when hover */
.menu ul li:hover ul{
    opacity: 100;
    visibility: visible;
    translate: 0 0px;
}
.menu ul li:hover a i{
   rotate: 90deg;
   transition: .4s;
}

/* hero area css */
.hero-wrapper{
    position: relative;
    background-image: url('https://i.ibb.co/k1sjH15/Audi-showroom2.jpg');
    width: 100%;
    height: 80vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

}
.hero-wrapper::after{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   content: '';
   background-color: #000;
   opacity:60%;
   z-index: -10;

}
.hero-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 600px;
    color: white;
}
.hero-text p{
    text-align: center;
    margin-top: 30px;
}
.hero-btn{
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    font-weight: 600px;
    
}

/* grid image gallery */

.image-gallery-area{
    padding: 100px 0;
    /* background-color: aliceblue; */
}
.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 6vw);
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.gallery img:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.gallery img:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    
}

.gallery img:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
    
}

.gallery img:nth-child(4){
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.gallery img:nth-child(5){
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    
}

.gallery img:nth-child(6){
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 7;
    
}




